
<div style="width:60rem;" >
    <div class="col-lg-12">
    <div class="text-center">ADD TESTIMONIAL</div>     
   
    <form action="" #testimonialForm="ngForm" (ngSubmit)="addTestimonial()"  >
   
      <label for="" class="label col-lg-2 col-form-label">Name :</label>
    <input class="form-control col-lg-10" type="text" name="name" id="name" [(ngModel)]="testimonialDetails.name"placeholder="name" required> 
     
    <label for=""class="label col-lg-2 col-form-label">Position :</label>
    <input class="form-control col-lg-10" type="text" name="position" id="position" [(ngModel)]="testimonialDetails.position" placeholder="Position" required >
    
    <label for=""class="label col-lg-2 col-form-label">Organisation :</label>
    <input class="form-control col-lg-10" type="text"name="organisation" id="organisation" [(ngModel)]="testimonialDetails.organisation" placeholder="Organization" required>
    
    <label for=""class="label col-lg-2 col-form-label">Testimonial :</label>
    <div class=" col-lg-10">
      <textarea rows="6" cols="95" class='width-100' id="testimonial" name="testimonial" [(ngModel)]="testimonialDetails.testimonial" ></textarea>
      </div> 
    
        <label for="" class="label col-lg-2 col-form-label">Course_title :</label><br>
        <select class="form-control col-lg-10 " [(ngModel)]="testimonialDetails.course_title" name="course_title" id="course_title" placeholder="Course_title" required > 
            <option selected>--Choose--</option>
            <option value="Full Stack Developer">Full Stack Developer</option> 
            <option value="RPA">RPA</option> 
        </select>
        
    <label for=""class="label col-lg-2 col-form-labe">Image :</label><br>
    <input class="form-control" type="file" name="image" id="image" (change)="selectImage($event)" [(ngModel)]="testimonialDetails.image" style="height:2.6rem;"  placeholder="Image" required>

    <div class="d-flex justify-content-center">
      <button type="submit" id="submit"  [disabled]="testimonialForm.form.invalid" class="btn btn-outline-primary text-center addtestimonial"> Add </button>
   </div>
      
    </form>
    </div>
</div>
    
    
  
    



